body {
    font-family: 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

h1, h2 {
    font-weight: bold;
    margin-bottom: 20px;
}

.hero {
    position: relative;
    background: url('/galary/home-based-plan2.png') no-repeat center center/cover;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}

.hero-overlay {
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
}
.hero-overlay button{
    font-size: 25px;
    border-radius: 10px;
}
.hero-overlay a :hover{
    background-color: rgb(112, 135, 240);
}

header h1 {
    font-size: 3rem;
    margin-bottom: 15px;
}

header p {
    font-size: 1.2rem;
}

.workout-plans {
    padding: 40px;
    background-color: #fff;
}

.workout-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.workout-card {
    background-color: #fff;
    border: 1px solid #e1e1e1;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 35px;
}

.workout-card h3 {
    font-size: 1.5rem;
}

.workout-img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-top: 10px;
}

.btn-video {
    background-color: #28a745;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.btn-video:hover {
    background-color: #218838;
}

.progress-tracker {
    background-color: #f8f9fa;
    padding: 30px;
    text-align: center;
    margin-top: 40px;
    border-radius: 10px;
    margin-bottom: 50px;
    
}

.progress-tracker ul {
    list-style: none;
    padding: 0;
}

.progress-tracker li {
    margin: 10px 0;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 60px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.modal-content {
    background-color: #fff;
    margin: 5% auto;
    padding: 20px;
    border-radius: 10px;
    width: 60%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#status-day1{

    font-weight: bold;
    font-size: 15px;
    
}

footer {
    background-color: #343a40;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    
    bottom: 0;
    width: 100%;
    
}
