 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: Arial, sans-serif;
    height: 100%;
    margin: 0;
    
}

.header-nav {
    background-image: url(galary/background.png); 
    background-size: cover;
    background-position: center;
    padding: 40px 0px;
    text-align: center;
    color: white;
    position: relative;
    height: 245px;
}

.header-nav h1 {
    font-size: 50px;
    margin-bottom: 20px;
    
}
.header-nav .login{
    text-decoration: none;
    margin-bottom: 10px;
    float: right;
    margin-right: 20px;
    padding: 10px 25px;
    border: 1px solid black;
    color: white;
    background-color: rgb(45, 184, 239);
    border-radius: 10px;

}

.header p {
    font-size: 20px;
    margin-bottom: 30px;
}

.header a.cta-btn {
    background-color: #4CAF50;
    color: white;
    padding: 15px 30px;
    text-decoration: none;
    font-size: 18px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.header a.cta-btn:hover {
    background-color: #45a049;
}

.header-nav .logo{
    float: left;
    height: 100px;
    width: 100px;
    margin-left: 30px;
    border-radius: 25px;
    bottom: 150px;
    display: flex;

}



.header-nav .navbar {
    margin-top: 100px;
    display: flex; 
    justify-content: center;
    background-color: #349e4d;
    box-shadow: 0px 5px  rgba(56, 24, 24, 0.714);
    
}

.navbar a {
    display: flex;
    color: rgb(250, 246, 246);
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
    transition: background-color 0.3s; 
}

.navbar a:hover {
    background-color: #a4f3a8;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: transparent; 
    color: white;
    padding: 14px 20px; 
    font-size: 16px; 
    border: none;
    cursor: pointer; 
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.9); 
    min-width: 200px; 
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2); 
    z-index: 1; 
}

.dropdown-content a {
    color: black; 
    padding: 12px 16px; 
    text-decoration: none; 
    display: block;
}


.dropdown:hover .dropdown-content {
    display: block; 
}


.dropdown-content a:hover {
    background-color: #ddd; 
}

@media screen and (max-width: 768px) {
    .navbar {
        flex-direction: column; 
    }

    .navbar a, .dropbtn {
        padding: 10px; 
        font-size: 14px; 
    }

    .dropdown-content {
        position: relative; 
    }
}


.footer {
    padding: 20px;
    text-align: center;
    background-color: #333;
    color: white;
}


