#profilePic {
    position: absolute;
    top: 10px;
    right: 40px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 1000;
}

#profileMenu {
    position: absolute;
    top: 60px;
    right: 10px;
    background-color: rgb(20, 156, 20);
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 999;
    display: none; 
}

#profileMenu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#profileMenu ul li {
    padding: 10px;
    border-bottom: 1px solid #eee;
}

#profileMenu ul li:last-child {
    border-bottom: none;
}

#profileMenu ul li a {
    text-decoration: none;
    color: #e9e2e2;
    display: block;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

#profileMenu ul li a:hover {
    background-color: #f1f1f1;
}
