.popup {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;

}

.register1 .popup-content{
  
    background-color: #fff;
    border-radius: 20px;
    margin: 3% auto;
    padding: 20px;
    border: 1px solid #888;
    height: 670px;
    width: 350px;
    
    

}
.register1{
    font: size 28px;
    font-weight: bold;
}
.register1 #registergender{
    width:300px ;
}

.register1 #registernotes{
    width:300px ;
}


.popup-content {
    background-color: #fff;
    border-radius: 20px;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    height: 400px;
    width: 350px;
    text-align: center;
    
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.navbar a {
    cursor: pointer;
}

.login {
    cursor: pointer;
    color: #fff;
    background-color: #007bff;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
}



#loginSection {
    position: relative;
}

#profilePic {
    position: absolute; 
    top: 10px; 
    right: 60px; 
    width: 40px;
    height: 40px;
    padding: 2px;
    border-color: #007bff;
    border-radius: 50%; 
    cursor: pointer;
    display: none; 
    z-index: 1; 
}

@media screen and (max-width: 768px){
    #profilePic{ 
     
    width: 2px;
    height: 2px;
    margin-top: -28px;
    border-radius: 20%;
    margin-right: -22px;
    margin-bottom: -35px;

    }
    #profileMenu{
        min-width: 10px; 
        margin-top:-20px;
        font-size: 12px;
        padding: 1px 2px;
    }
}




.register{
    cursor: pointer;
    color: #884705;
    font-weight: bold;
    font-size: 20px;
}
.logi{
    cursor: pointer;
    color: #884705;
    font-weight: bold;
    font-size: 20px;
}

.register1 .popup-content input{
    height: 30px;
    width: 300px;

}
.popup-content input{
    height: 35px;
    width: 300px;
    border-radius: 3px;
    padding: 5px;
}