
body {
    font-family: 'Arial', sans-serif;
    background-color: #e0f7fa;
    margin: 0;
    padding: 0;
    display: block;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.containerBmi {
    width: 400px;
    background-color: #fff;
    padding: 30px;
    margin-top: 40px;
    margin-bottom: 40px;
    width: 50%;
    margin: 5% 25%;
    
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}


.containerBmi h1 {
    font-size: 28px;
    color: #00796b;
    margin-bottom: 20px;
}

.containerBmi .intro {
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
}


.containerBmi .form-group {
    margin-bottom: 15px;
}

.containerBmi label {
    font-size: 16px;
    color: #555;
}

.containerBmi input {
    width: calc(100% - 20px);
    padding: 10px;
    font-size: 16px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}


.containerBmi .btn {
    background-color: #00796b;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.containerBmi .btn:hover {
    background-color: #004d40;
}


#resultContainer {
    margin-top: 10px;
}

#bmiResult {
    font-size: 20px;
    color: #333;
    margin-bottom: 10px;
}

#bmiCategory {
    font-size: 18px;
    padding: 10px;
    border-radius: 5px;
}

#bmiMessage {
    font-size: 16px;
    margin-top: 10px;
    color: #555;
}


.underweight {
    background-color: #ffcc80;
    color: #e65100;
}

.healthy {
    background-color: #a5d6a7;
    color: #1b5e20;
}

.overweight {
    background-color: #ffab91;
    color: #bf360c;
}

.obese {
    background-color: #ef9a9a;
    color: #b71c1c;
}


.bmi-info-container {
    max-width: 87%;
    margin: auto;
    padding: 30px;
    border-radius: 12px;
    
  }
  
  .bmi-info-container h1 {
    text-align: center;
    color: #2c3e50;
    margin-bottom: 30px;
  }
  
  .bmi-section {
    margin-bottom: 30px;
  }
  
  .bmi-section h2 {
    color: #2980b9;
    margin-bottom: 10px;
  }
  
  .bmi-section p {
    font-size: 16px;
    color: #333;
    line-height: 1.6;
  }
  
  .bmi-section ul {
    padding-left: 20px;
    margin-top: 0;
    margin-bottom: 10px;
  }
  
  .bmi-section li {
    margin-bottom: 5px;
    font-size: 16px;
  }
  
  .closing-message {
    text-align: center;
    font-style: italic;
    color: #555;
    font-size: 16px;
    margin-top: 40px;
  }