body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.containernutri {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 40%;
    text-align: center;
    margin:10% 30%;
}
.containernutri h1 {
    margin-bottom: 20px;
    color: #333;
}

 input[type="text"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 4px;
    border: 1px solid #ddd;
}

.containernutri button {
    padding: 10px 20px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.containernutri button:hover {
    background-color: #218838;
}

.containernutri #nutrition-result {
    margin-top: 20px;
    text-align: left;
    line-height: 2.8;
}
